USE [NCB_MIG]
GO
/****** Object:  UserDefinedFunction [dbo].[Dzielenie]    Script Date: 2022-08-08 12:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER FUNCTION [dbo].[Dzielenie](@Klucz_PH nvarchar(255), @Nazwa nvarchar(255))

DECLARE @tabela TABLE (KLUCZ_PH nvarchar(255), NAZWA_1 nvarchar(40), NAZWA_2 nvarchar(40), NAZWA_3 nvarchar(40), NAZWA_4 nvarchar(255))
--AS 
--BEGIN 

DECLARE @Tab_1 TABLE (ID int IDENTITY(1,1),
					KLUCZ_PH nvarchar(255),
					NAZWA nvarchar(255),
					ILE int)
DECLARE @NAZWA_1 nvarchar(40)
DECLARE @NAZWA_2 nvarchar(40)
DECLARE @NAZWA_3 nvarchar(40)
DECLARE @NAZWA_4 nvarchar(40)
DECLARE @Nazwa nvarchar(255) = 'PODKARPACKIE CENTRUM PRODUKCYJNO WDROŻENIOWE "EKO-KARPATY" DR. INŻ. JAN PĄPROWICZ TARNOWIEC NR 163 ZAKŁAD "TECHNITEX"'
DECLARE @KLUCZ_PH nvarchar(255) = '10_1_90001011'

INSERT INTO @Tab_1(NAZWA) SELECT VALUE FROM string_split(@Nazwa,' ') AS NAZWA;

WITH A AS(
SELECT NAZWA, 
		SUM(LEN(NAZWA)+1) OVER (ORDER BY ID ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS ILE_1, 
		ILE
FROM @Tab_1)



UPDATE A
	SET ILE = ILE_1;
	SELECT NAZWA FROM @Tab_1 WHERE ILE BETWEEN 41 AND 80;
	WITH C AS(SELECT NAZWA FROM @Tab_1 WHERE ILE<=40)
	SET @NAZWA_1 = (SELECT STRING_AGG(@Nazwa, ' ') FROM C);
	SET @NAZWA_2 = (SELECT STRING_AGG(@Nazwa, ' ') FROM @Tab_1 WHERE ILE BETWEEN 41 AND 80);
	SET @NAZWA_3 = (SELECT STRING_AGG(@Nazwa, ' ') FROM @Tab_1 WHERE ILE BETWEEN 81 AND 120);
	SET @NAZWA_4 = (SELECT STRING_AGG(@Nazwa, ' ') FROM @Tab_1 WHERE ILE BETWEEN 121 AND 160);

SELECT @NAZWA_1, @NAZWA_2, @NAZWA_3, @NAZWA_4

INSERT INTO @tabela (KLUCZ_PH , NAZWA_1 , NAZWA_2 , NAZWA_3 , NAZWA_4)
VALUES (@Klucz_PH, @NAZWA_1, @NAZWA_2, @NAZWA_3, @NAZWA_4)

RETURN;
END

